#yellow {
	background-color: yellow;
	border-top-style: 1px;
	border-style: solid;
	border-color: green;
}
#red {
	background-color: red;
	border-top-style: 1px;
	border-style: solid;
	border-color: black;
}
#green {
	background-color: green;
	border-top-style: 1px;
	border-style: solid;
	border-color: yellow;
}